html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

#app {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.wrapper {
  width: 20%;
  height: auto;
  border: 1px solid #eee;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  #app {
    width: 100%;
  }
  .wrapper {
    width: 44%;
  }
}

@media only screen and (max-width: 768px) {
  #app {
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
}

.image {
  width: 100%;
  height: 250px;
}

.header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.header {
  display: flex;
  justify-content: space-around;
}

.header img.logo {
  width: 20px;
  height: 20px;
  margin-top: 20px;
}

#loadmore {
  width: 150px;
  padding: 15px;
  margin: 0 auto;
  display: block;
  background-color: #008cba;
  font-style: normal;
  font-weight: bold;
  font-size: larger;
  color: #fff;
  border: 0;
}

.header p {
  margin: 2px;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

@media only screen and (min-width: 35em) {
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
